* {
	box-sizing: border-box;
}

body {
	height: 100vh;
	width: 100vw;
	margin: 0;
	padding: 20px;
	display: flex;
	justify-content: center;
	font-family: Inter;
	background-color: #e6e7eb;
}

/* Star */
.star {
	height: 30px;
	width: 30px;
	cursor: pointer;
	transition: color 0.5s ease-in-out;
	user-select: none;
	color: white;
}

.star.filled {
	color: orange;
}

/* Button */
button {
	background-color: #e5e7eb;
	color: #4b5563;
	border: 1px solid #6b7280;
	box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
	cursor: pointer;
	font-weight: 700;
	padding: 9px 17px;
	border-radius: 6px;
	line-height: 24px;
	display: flex;
	align-items: center;
}

button:focus {
	outline: none;
}

button.button-sm {
	padding: 7px 11px;
	font-size: 12px;
}

button.button-lg {
	padding: 13px 25px;
}

button.button-success {
	color: #047857;
	background-color: #ecfdf5;
	border-color: #047857;
}

button.button-warning {
	color: #fbbf24;
	background-color: #fffbeb;
	border-color: #fbbf24;
}

button.button-danger {
	color: #f87171;
	background-color: #fef2f2;
	border-color: #f87171;
}

/* Menu */
.menu {
	position: relative;
	display: inline-block;
}

.menu-button {
	background-color: white;
}

.menu-dropdown {
	position: absolute;
	left: 0;
	margin-top: 3px;
	background-color: white;
	border: 1px solid gray;
	border-radius: 6px;
	background-color: white;
}

.menu-item {
	color: #4b5563;
	padding: 0.75rem;
	cursor: pointer;
	min-width: 100px;
	display: flex;
	justify-content: center;
	align-items: center;
	user-select: none;
}

.menu-item:hover {
	background-color: whitesmoke;
}

.menu-item:not(:last-child) {
	border-bottom: 1px solid #6b7280;
}

/* Box */
.box {
	height: 100px;
	width: 100px;
	border: 1px solid black;
	cursor: pointer;
	background-color: white;
	transition: background-color 0.3s ease-in-out;
}

.box.filled {
	background-color: blue;
}

.container-label {
	color: #727376;
	font-size: 12px;
	font-weight: 700;
}

.container-label-top {
	color: #727376;
	font-size: 12px;
	font-weight: 700;
	margin-bottom: 5px;
}

.item-label {
	color: #a7a9ad;
	font-size: 7px;
}

/* Badge */
.badges {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.badge-container {
	display: grid;
	grid-template-columns: auto auto auto auto auto auto auto auto;
	grid-template-rows: auto auto;
	justify-items: right;
	align-items: center;
	gap: 10px;
}

.badge-subContainer {
	display: grid;
}

.badge {
	color: #252d31;
	background-color: #f3f5f6;
	font-weight: 500;
	padding: 5px 10px;
	font-size: 12px;
	border-radius: 5px;
}

.badge.badge-pill {
	border-radius: 20px;
}

.badge.badge-sm {
	padding: 4px 8px;
	font-size: 8px;
}

.badge.badge-lg {
	padding: 6px 15px;
	font-size: 15px;
}

.badge.badge-red {
	color: #ab474a;
	background-color: #fde2e0;
}

.badge.badge-yellow {
	color: #ac7244;
	background-color: #fdf3c6;
}

.badge.badge-green {
	color: #327d60;
	background-color: #cffae3;
}

.badge.badge-blue {
	color: #4969b2;
	background-color: #dae9fd;
}

.badge.badge-purple {
	color: #7e58c2;
	background-color: #ece9ff;
}

.badge.badge-pink {
	color: #a0315b;
	background-color: #fbe7f3;
}

/* Banner */
.banners-section {
	display: grid;
	grid-template-columns: 50% auto;
	gap: 30px;
}

.banners {
	display: grid;
	padding: 0 1em;
}

.banner-container {
	display: grid;
	grid-template-columns: 4em auto;
	grid-template-rows: auto auto;
	justify-items: right;
	align-items: center;
	gap: 10px;
}

.banner-item {
	width: 100%;
}

.banner {
	display: flex;
	color: #1c51b9;
	background-color: #eff6ff;
	font-weight: 500;
	padding: 5px 10px;
	font-size: 12px;
	border-radius: 5px;
}

.banner-icon {
	padding: 3px 10px 0 0;
	font-size: 19px;
}

.banner-title {
	margin: 5px 0;
	font-weight: 900;
}

.banner-text {
	margin: 5px 0;
	font-weight: 400;
	word-wrap: normal;
	width: 95%;
}

.banner.banner-success {
	color: #047857;
	background-color: #ecfdf5;
}

.banner.banner-warning {
	color: #b45309;
	background-color: #fffbeb;
}

.banner.banner-error {
	color: #92400e;
	background-color: #fef2f2;
}
